#Игнорирование скрытой папки VS2019
.vs/

# Игнорирование папки с исполняемымы файлами
bin/
obj/

# Игнорирование тестового полигона
TestForm*.*

# И файл запуска формы тоже трогать не стоит
Program.cs